html, body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}


#payaso {
    position: relative;
}


#gota {
    position: absolute;
    top: 280px; 
    left: 270px; 
    z-index: 2; 
}
